## Term Project Progress Notebook (EXISTING)
- Lindsey Rojtas
- LING1340
- ler75@pitt.edu

## Progress Report 1 START (2/25/2020)
This progress report focuses on the gathering and cleaning of data for this project; this includes filtering unnecessary columns from a list of Katakana words as well as sorting age groups in conversation data.

### Some Notes
The hardest part of this phase was the actual gathering of the data, especially since it's data from a language that isn't English. I wanted to do something having to do with Japanese since I think it's interesting (and hopefully, I'll have time to take some classes on it here at Pitt), but I also wanted to do something that involved having data that I could read. I'm not experienced with Kanji at all, but I can read Hiragana and Katakana. Katakana specifically interests me because it's the Japanese version of something like Italics, which makes loan words relatively easy to find.  

On with the show!

### Importing and Reading (Word List)

In [1]:
# importing all the fun stuff i might need; will add to this later
import numpy as np
import pandas as pd
import glob

In [2]:
%pprint

Pretty printing has been turned OFF

I had some trouble with converting this file from an Excel file to a CSV, but that's because I didn't realize I had to actually save it as a CSV rather than just renaming it. Good lesson to learn for the future.

In [3]:
wordlist = pd.read_csv('../privdata/only_katakana.csv') # reading in my big word list file... 80k entries!

In [4]:
wordlist.head()

,rank,lForm,lemma,pos,subLemma,wType,frequency,pmw,PB_rank,PB_frequency,...,LB_variable_pmw,OW_fixed_rank,OW_fixed_frequency,OW_fixed_pmw,OW_variable_rank,OW_variable_frequency,OW_variable_pmw,core_rank,core_frequency,core_pmw
0,142,パーセント,パーセント,名詞-普通名詞-助数詞可能,percent,外,63392,605.970096,194.0,11614.0,...,244.656011,21.0,6121.0,5876.767423,19.0,28267.0,5998.526417,90.0,1070.0,974.558557
1,286,トウキョウ,トウキョウ,名詞-固有名詞-地名-一般,NaN,固,29804,284.899242,388.0,6140.0,...,243.650053,334.0,427.0,409.962374,315.0,2023.0,429.299853,149.0,627.0,571.073098
2,305,アメリカ,アメリカ,名詞-固有名詞-地名-国,America,固,28243,269.977496,285.0,7913.0,...,362.040945,707.0,184.0,176.658259,554.0,1095.0,232.369421,533.0,206.0,187.625292
3,351,ページ,ページ,名詞-普通名詞-助数詞可能,page,外,24642,235.555198,232.0,9624.0,...,198.520679,1518.0,63.0,60.486252,2122.0,172.0,36.500037,696.0,163.0,148.460790
4,420,センター,センター,名詞-普通名詞-一般,center,外,20664,197.529121,1118.0,2301.0,...,55.431775,401.0,353.0,338.915030,409.0,1581.0,335.503246,404.0,253.0,230.433005

In [5]:
wordlist.describe() # stats!

,rank,frequency,pmw,PB_rank,PB_frequency,PB_pmw,PM_rank,PM_frequency,PM_pmw,PN_rank,...,LB_variable_pmw,OW_fixed_rank,OW_fixed_frequency,OW_fixed_pmw,OW_variable_rank,OW_variable_frequency,OW_variable_pmw,core_rank,core_frequency,core_pmw
count,84251.000000,84251.000000,84251.000000,50613.000000,50613.000000,50613.000000,24318.000000,24318.000000,24318.000000,14900.000000,...,52380.000000,3291.000000,3291.000000,3291.000000,7028.000000,7028.000000,7028.000000,11172.000000,11172.000000,11172.000000
mean,96569.374215,61.648883,0.589307,65322.612451,27.371486,0.962074,31707.032939,18.169011,4.106387,20032.300872,...,0.892448,8300.864175,9.368885,8.995059,14504.842629,20.088788,4.263032,17160.913892,5.841568,5.320514
std,43838.040107,446.131664,4.264615,28576.195151,147.588499,5.187552,14808.067118,68.786971,15.546578,8077.661334,...,4.255047,2921.772221,110.032822,105.642428,5375.571082,348.209277,73.893323,6831.599040,18.307100,16.674150
min,142.000000,1.000000,0.009559,194.000000,1.000000,0.035149,129.000000,1.000000,0.226011,84.000000,...,0.034688,21.000000,1.000000,0.960099,19.000000,1.000000,0.212209,90.000000,1.000000,0.910802
25%,61086.000000,2.000000,0.019118,42722.000000,1.000000,0.035149,19529.000000,1.000000,0.226011,13724.000000,...,0.069376,6053.000000,1.000000,0.960099,10881.000000,1.000000,0.212209,12560.000000,1.000000,0.910802
50%,100044.000000,6.000000,0.057355,69614.000000,4.000000,0.140595,34673.000000,3.000000,0.678032,21631.000000,...,0.138753,8692.000000,2.000000,1.920199,16048.000000,2.000000,0.424419,17861.000000,2.000000,1.821605
75%,134146.000000,23.000000,0.219859,98748.000000,14.000000,0.492083,48409.000000,10.000000,2.260105,27838.000000,...,0.520323,10918.000000,5.000000,4.800496,19542.000000,6.000000,1.273257,23544.000000,4.000000,3.643210
max,152442.000000,63392.000000,605.970096,98748.000000,11614.000000,408.217653,48409.000000,2608.000000,589.435410,27838.000000,...,362.040945,10918.000000,6121.000000,5876.767423,19542.000000,28267.000000,5998.526417,23544.000000,1070.000000,974.558557

### Data Cleaning
What I did before anything else was rename some columns and create a `cleanwordlist` so that I only had the data I needed. 80 columns is a lot, and I don't really know what a lot of it means. Luckily, all I really need is the Katakana word, the translation, and the frequency count.

In [6]:
wordlist.rename(columns={'lemma':'katakana', 'subLemma':'translation'}, inplace=True)

In [7]:
cleanwordlist = wordlist[['katakana', 'translation', 'frequency']]

In [8]:
cleanwordlist.head(10)

  katakana translation  frequency
0    パーセント     percent      63392
1    トウキョウ         NaN      29804
2     アメリカ     America      28243
3      ページ        page      24642
4     センター      center      20664
5     サービス     service      16630
6     システム      system      16458
7     メートル       metre      15960
8      テレビ  television      15644
9      メール        mail      15589

We notice here that some translations are `NaN`. There are several of these in the dataframe, but the first one we see is トウキョウ (Tokyo, as in the city, which has no English equivalent). Let's explore some more of this `NaN` translation data to see if the other ones are similar.

In [9]:
isnan = cleanwordlist['translation'].isnull()

In [10]:
notranslation = cleanwordlist[isnan]
notranslation.head()

   katakana translation  frequency
1     トウキョウ         NaN      29804
11     オオサカ         NaN      11572
25  センチメートル         NaN       9060
30     キョウト         NaN       8495
38       エド         NaN       8100

These words read "Tokyo", "Oosaka", "Senchimeetoru" (centimeter), "Kyoto", and "Edo". Four of these five words are places in Japan. Centimeter isn't, but I know from looking at the list of words in the Excel spreadsheet that センチ "senchi" is generally used as the word for centimeter, so it makes sense that there's no translation for it. Just to be safe, let's take a random sample of non-translated words.

In [11]:
notranslation.sample(5)

      katakana translation  frequency
22904     ムネユキ         NaN         20
51165    リドルフィ         NaN          4
52428     カテプリ         NaN          3
18465      タクオ         NaN         28
14939     オオクノ         NaN         39

These words all seem to be names, judging by their translation and frequencies. Even if these words have meaning, I plan on filtering out words with lower frequency counts just to get rid of these names regardless, so even if I left null translations in, it wouldn't really affect what I'm trying to do here. Let's filter out the NaNs!

In [12]:
cleanwordlist = cleanwordlist.dropna()

In [13]:
cleanwordlist.head()

  katakana translation  frequency
0    パーセント     percent      63392
2     アメリカ     America      28243
3      ページ        page      24642
4     センター      center      20664
5     サービス     service      16630

In [14]:
cleanwordlist.describe()

          frequency
count  30140.000000
mean     113.244924
std      690.539893
min        1.000000
25%        3.000000
50%        9.000000
75%       39.000000
max    63392.000000

Wow, just from getting rid of the null entries, we got rid of 50,000 words.   
  
Anyway, as I mentioned before, I'm going to drop any words that have an incredibly low frequency. There's no point in trying to recognize a word if there's a pretty good chance it won't be in there. The hard part here will be trying to figure out what the cutoff should be. Let's check some value counts.

In [15]:
cleanwordlist['frequency'].value_counts()

1       4484
2       2944
3       1937
4       1492
5       1286
        ...
1285       1
1269       1
3284       1
5319       1
2047       1
Name: frequency, Length: 1394, dtype: int64

Looks like there's a lot of words that are only used a single-digit amount of times. I don't want to drop too many words, but I also don't want to make this harder than it has to be. We did see above that the majority of the words were used less than 23 times, but we don't want to include anything that's too irrelevant. Let's go with dropping anything less than a frequency of 75.

In [16]:
finalwordlist = cleanwordlist.loc[cleanwordlist['frequency'] >= 75]

In [17]:
finalwordlist.head()

  katakana translation  frequency
0    パーセント     percent      63392
2     アメリカ     America      28243
3      ページ        page      24642
4     センター      center      20664
5     サービス     service      16630

In [18]:
finalwordlist.describe()

          frequency
count   5192.000000
mean     595.130008
std     1576.927800
min       75.000000
25%      115.000000
50%      202.000000
75%      475.000000
max    63392.000000

We filtered out a lot of data... we went from around 80,000 entries to around 5,000. This makes sense, considering the overwhelming amount of nulls and rarely-used words there were. If I find that I have to go back and make this more inclusive, I will.

### Importing and Reading (Conversation Data)
This part will be a little more challenging to work with. In the Nagoya Conversation Corpus, there are just text files with some annotations in them. There is data on the corpus website that specifies age groups of participants, but I'm going to need to compile a spreadsheet file myself. I'm not sure what data I'll need, so I'm importing two spreadsheets that I created; one based on the participants and one based on the text files. The participant spreadsheet probably won't need any modifying, but I'll need to import the content into the spreadsheet based on the text files. How I use these spreadsheets and whether they'll be any use at all is hard to say at this point, as I haven't actually started working with it yet, but it's a starting point. Since there aren't many text files or participants (both less than 200, creating a manual spreadsheet won't take all that long.

In [19]:
byparticipant = pd.read_csv('../privdata/participantbased.csv')
byfile = pd.read_csv('../privdata/filebased.csv')

In [20]:
byparticipant.head()

,participant,age,appears_count,appears_in
0,F001,Early 20s,5,data105.txt data086.txt data076.txt data075.tx...
1,F002,Late 60's,3,data033.txt data032.txt data031.txt
2,F003,Late 80's,1,data129.txt
3,F004,Late 20's,14,data096.txt data094.txt data092.txt data082.tx...
4,F005,Late 20's,3,data052.txt data023.txt data015.txt

In [21]:
byfile.head()

          file         participants
0  data001.txt  F107 F023 M023 F128
1  data002.txt       F107 F023 F128
2  data003.txt            F033 F056
3  data004.txt            M018 F128
4  data005.txt  M023 F128 F116 M026

There's a lot going on here. I don't have a lot to do with this data since we're still just in the gathering and cleaning stage, and I did lots of this manually for the sake of time and ease. There may have been a more efficient way to create the spreadsheets with code, but due to the nature of the text files, I opted for a manual spreadsheet creation.  
  
What I do need to do, though, is add the actual content to the `byfile` dataframe. Let's do that real quick.

In [22]:
fname = glob.glob('../privdata/nucc/*.txt')
fname[0] #did it work?

'../privdata/nucc\\data001.txt'

In [23]:
"""def readtxt(fn):
    f = open(glob.glob('../privdata/nucc/' + fn)[0])
    text = f.read()
    f.close()
    return text

byfile['content'] = byfile['file'].apply(readtxt)

byfile.head()"""

"def readtxt(fn):\n    f = open(glob.glob('../privdata/nucc/' + fn)[0])\n    text = f.read()\n    f.close()\n    return text\n\nbyfile['content'] = byfile['file'].apply(readtxt)\n\nbyfile.head()"

The string I've got above here is where I'm running into an issue with encoding. Python doesn't like the fact that I have non-ASCII characters in the files and doesn't want to read them in. Whether or not I will be able to fix this before the progress report 1 deadline is really up for debate, but if I don't figure it out, I'll investigate further post-due date.

## PROGRESS REPORT 2 START (Due 3/23/2020 [extended])
### Some notes: Responses to comments/feedback, and where I'm trying to go from here
I'm glad I seem to have gotten a lot done in the last report! There was a lot of simple stuff going on there, though, so I'm going to take my time a bit on the next stuff since it's going to involve more than just dropping columns.
  
  
Re: the columns I dropped - most of the 80 columns were just different levels of frequencies and arbitrary ranks. For now, I'm going to leave it be, but if I find I need more analysis, it won't be too lengthy of a process to go back and include some columns in the word list since I won't be doing too much manipulating for the word list. 
  
I also freehanded the number 75 for the cutoff, but I took a look at what data I had left and saw that the words that were used 75 times or less were proper nouns that I doubt would have come up in casual conversation. The word list is really there just to find Katakana words since there aren't any word bounds in Japanese. I'd just count the number of individual Katakana characters, but onomatopoeia words are also written in Katakana and I want to avoid countig those. Again, if I need to go back and manipulate according to what my analysis needs, it isn't that lengthy of a process. 
  
  
I will probably just share a sample of my found data, rather than the whole thing, just to be safe regarding the licenses for the data I'm using. The code for how to get there will be public, so there will be directions to follow (or deviate from) on how to get where I got. 
  
  
  
    
`filebased` and `participantbased` are just files I created on the fly, more like an "in case I need it later" deal. I now know what I'm going to use them for, but I'll get into that later. 
  
Anyway, let's get started!

### Fixing the ASCII Issue
I can't really move forward with anything until I get rid of that ASCII issue I had in the first progress report, so I'm going to start there. I'm gonna try just adding the `encoding` parameter to my function from above.

In [24]:
def readtxt(fn):
    f = open(glob.glob('../privdata/nucc/' + fn)[0], encoding="utf8")
    text = f.read()
    f.close()
    return text

byfile['content'] = byfile['file'].apply(readtxt)

byfile.head()

,file,participants,content
0,data001.txt,F107 F023 M023 F128,＠データ１（約３５分）\n＠収集年月日：２００１年１０月１６日\n＠場所：ファミリーレストラ...
1,data002.txt,F107 F023 F128,＠データ２（６０分）\n＠収集年月日：２００１年１０月１６日\n＠場所：ファミリーレストラン...
2,data003.txt,F033 F056,＠データ０３（４３分）\n＠収集年月日：２００１年１０月２３日\n＠場所：車中（某大から所属...
3,data004.txt,M018 F128,＠データ０４（３５分）\n＠収集年月日：２００１年１０月２３日\n＠場所：車中（知立駅より西...
4,data005.txt,M023 F128 F116 M026,＠データ０５（５５分）\n＠収集年月日：２００１年１０月２３日\n＠場所：M023の自宅\n...

Wow, that worked! What a short heading. 

### Cleaning up the content
The end goal here is to extract each participant's lines and put them into `participantbased` so we can analyze how many Katakana words each participant used, rather than how many appear in each file, like I first intended to. Let's look at the contents of a file, because it looks like there's some sort of documentation going on (specifying the length of the conversation as 分 is the character for minutes, the date it took place, as well as the participants).

In [25]:
toyfile = byfile['content'].iloc[0]
toyfile[:500]

'＠データ１（約３５分）\n＠収集年月日：２００１年１０月１６日\n＠場所：ファミリーレストラン\n＠参加者F107：女性３０代後半、愛知県幡豆郡出身、愛知県幡豆郡在住\n＠参加者F023：女性４０代後半、岐阜県出身、愛知県幡豆郡在住\n＠参加者M023：男性２０代前半、愛知県西尾市出身、西尾市在住\n＠参加者F128：女性２０代前半、愛知県西尾市出身、西尾市在住\n＠参加者の関係：英会話教室の友人\nF107：＊＊＊の町というのはちいちゃくって、城壁がこう町全体をぐるっと回ってて、それが城壁の上を歩いても１時間ぐらいですよね。\nF023：１時間かからないぐらいだね。\n４、５０分で。\nF107：そうそう。\nほいでさあ、ずっと歩いていたんだけど、そうすと上から、なんか町の中が見れるじゃん。\nあるよね。\nほいでさあ、なんか途中でワンちゃんに会ったんだね。\n（ふーん）散歩をしてるワンちゃんに会ったんだ。\nF023：城壁の上をやっぱ観光客なんだけどワンちゃん連れてきてる人たち結構多くて。\nF107：で、こう、そのワンちゃんと２人を、なに、お父さんとお母さんと歩いて、ワンちゃんに会ったんだ。\n途中で。\nあワンちゃ'

That is not pleasant to look at in the slightest, and it's even worse without the [:500]. Any line beginning with an @ symbol is documentation, so let's find a way to remove that first. I know that there will always be one line at the end with `@END`, but the amount of documentation at the beginning of the files varies from file to file, because different files have different numbers of participants. I'm thinking what I can do is remove the last line of each file first, and then develop a method that removes the first x lines of documentation, so we start with an M/FXXX every time.   
  
Getting rid of `@END` is easy, because it's always the last few characters of the file. We can just do something like this:

In [26]:
# before removal
toyfile[19500:]

'かこれシャッターチャンスがさ、逃すん＜笑い＞だよね。\n遅いもんでさあ。\n反応が。\n＠ＥＮＤ\n'

In [27]:
# removing last five characters
toyfile = toyfile[:-5]

In [28]:
# after removal 
toyfile[19500:]

'かこれシャッターチャンスがさ、逃すん＜笑い＞だよね。\n遅いもんでさあ。\n反応が。\n'

There! That was pretty easy, so let's do it for every file.

In [29]:
ct = 0
for x in byfile['file']: 
    cur = byfile['content'].iloc[ct]
    cur = cur[:-5]
    byfile['content'].iloc[ct] = cur
    ct = ct+1

In [30]:
byfile['content'].iloc[10][-50:]

'149：そうそうそうそう。\n何これ、みたいな、（うん）これが文字、とか思うよね。\nF069：ある。\n'

It works! I double checked the above line with a few other `iloc`s and compared them to their conversation file, and everything checked out.   
  
Now comes the harder part; removing the first x lines of documentation. This varies from document to document, so it's not as simple as removing the last five characters. Let's play with `toyfile` again.

In [31]:
toyfile.startswith('＠') # the japanese keyboard has a funky version of @

True

In [32]:
ind = toyfile.index('\n')    
ind = ind + 1

In [33]:
toyfile = toyfile[ind:]

In [34]:
toyfile[:200]

'＠収集年月日：２００１年１０月１６日\n＠場所：ファミリーレストラン\n＠参加者F107：女性３０代後半、愛知県幡豆郡出身、愛知県幡豆郡在住\n＠参加者F023：女性４０代後半、岐阜県出身、愛知県幡豆郡在住\n＠参加者M023：男性２０代前半、愛知県西尾市出身、西尾市在住\n＠参加者F128：女性２０代前半、愛知県西尾市出身、西尾市在住\n＠参加者の関係：英会話教室の友人\nF107：＊＊＊の町というのはちいち'

We're on to something here. Since we only get this documentation at the beginning, there's no need to go past the last instance of ＠, which is more efficient anyway on the program's part. We'll just need to add one to ind so it gets rid of that empty newline.

In [35]:
while toyfile.startswith('＠'):
    ind = toyfile.index('\n')
    ind = ind + 1
    toyfile = toyfile[ind:]

In [36]:
toyfile[:200]

'F107：＊＊＊の町というのはちいちゃくって、城壁がこう町全体をぐるっと回ってて、それが城壁の上を歩いても１時間ぐらいですよね。\nF023：１時間かからないぐらいだね。\n４、５０分で。\nF107：そうそう。\nほいでさあ、ずっと歩いていたんだけど、そうすと上から、なんか町の中が見れるじゃん。\nあるよね。\nほいでさあ、なんか途中でワンちゃんに会ったんだね。\n（ふーん）散歩をしてるワンちゃんに会ったんだ'

It works! Now let's apply it to everything:

In [37]:
ct = 0
for x in byfile['file']: 
    cur = byfile['content'].iloc[ct]
    while cur.startswith('＠'):
        ind = cur.index('\n')
        ind = ind + 1
        cur = cur[ind:]
    byfile['content'].iloc[ct] = cur
    ct = ct+1

In [38]:
byfile.head()

,file,participants,content
0,data001.txt,F107 F023 M023 F128,F107：＊＊＊の町というのはちいちゃくって、城壁がこう町全体をぐるっと回ってて、それが城壁...
1,data002.txt,F107 F023 F128,％ｃｏｍ：F023は出身地に２６歳まで居住。\nF107：今度はーイギリスにもアメリカと同様...
2,data003.txt,F033 F056,F033：倒れちゃう。\nF056：いきなり倒れた。\nF033：どうしよう。あっ、この間に...
3,data004.txt,M018 F128,F128：いや、別にいいよ。\nローソンでいいやろ。\nちょっと倒していい、これ。\nどうよ...
4,data005.txt,M023 F128 F116 M026,％ｃｏｍ：F116はずっと愛知県に居住している。現住所には２４年間居住。M023は沖縄に４年...

Now, another issue: that ％ｃｏｍ business. These ％ｃｏｍ lines are to indicate whether someone has moved places of residency. This isn't relevant to what I'm trying to do, and it's not conversation data, so we can do the same thing we did with the funky @ symbol.

In [39]:
ct = 0
for x in byfile['file']: 
    cur = byfile['content'].iloc[ct]
    while cur.startswith('％ｃｏｍ'):
        ind = cur.index('\n')
        ind = ind + 1
        cur = cur[ind:]
    byfile['content'].iloc[ct] = cur
    ct = ct+1

In [40]:
byfile.head()

,file,participants,content
0,data001.txt,F107 F023 M023 F128,F107：＊＊＊の町というのはちいちゃくって、城壁がこう町全体をぐるっと回ってて、それが城壁...
1,data002.txt,F107 F023 F128,F107：今度はーイギリスにもアメリカと同様のテロが起こるだろうって言ったんだってよ。\nF...
2,data003.txt,F033 F056,F033：倒れちゃう。\nF056：いきなり倒れた。\nF033：どうしよう。あっ、この間に...
3,data004.txt,M018 F128,F128：いや、別にいいよ。\nローソンでいいやろ。\nちょっと倒していい、これ。\nどうよ...
4,data005.txt,M023 F128 F116 M026,F128：来てたときによく貸してもらったやつだ。\nM023：そう、そんな感じのとこ。\nF...

Aaaaand that's the last of the documentation! The harder part comes in when we have to parse each line of speech so that every participant is associated with what exactly they say.  
  
Next what I'll do is parse the content by line and parse the participants for the sake of assigning them to their respective slots in the participant dataframe. Like I've been doing, rather than trying to edit my dataframes and risking having to restart my kernel every time I do something wrong, I'm going to work with `toyfile` and make toy dataframes.

In [41]:
toybyfile = pd.read_csv('../samples/toybyfile.csv')
toybypar = pd.read_csv('../samples/toybypar.csv')
toybyfile = toybyfile.fillna(toyfile)

In [42]:
toybyfile

,file,participants,content
0,data001.txt,F107 F023 M023 F128,F107：＊＊＊の町というのはちいちゃくって、城壁がこう町全体をぐるっと回ってて、それが城壁...

In [43]:
toybypar

  participant  content
0       F107       NaN
1        F023      NaN
2        M023      NaN
3        F128      NaN

Cool, now that we have that done, let's experiment.

In [44]:
toybyfile['participants'][0] = toybyfile['participants'][0].split(' ')

In [45]:
toybyfile

,file,participants,content
0,data001.txt,"[F107, F023, M023, F128]",F107：＊＊＊の町というのはちいちゃくって、城壁がこう町全体をぐるっと回ってて、それが城壁...

In [46]:
toybyfile['content'][0] = toybyfile['content'][0].split('\n')

In [47]:
toybyfile

,file,participants,content
0,data001.txt,"[F107, F023, M023, F128]",[F107：＊＊＊の町というのはちいちゃくって、城壁がこう町全体をぐるっと回ってて、それが城...

We're set as far as splitting goes. Note, though, that not every line starts with a new speaker; it's just a continuation of the last line. We need to take this into account when we're sorting.

In [48]:
pars = toybyfile['participants'][0]

In [49]:
p1 = pars[0] 
p2 = pars[1]
p3 = pars[2]
p4 = pars[3] # we'll come back to these

In the next cell, I'm going to merge previous, "speakerless" lines with the previous lines, because that new line is just another sentence spoken by the speaker specified in previous lines.

In [50]:
tmpcontent = toybyfile['content'][0]
lencontent = len(tmpcontent)
count = 1
while count < lencontent:
    if (not tmpcontent[count].startswith('M') and not tmpcontent[count].startswith('F')):
        tmpcontent[count-1] = tmpcontent[count-1] + tmpcontent[count]
        del tmpcontent[count]
        lencontent = len(tmpcontent)
    else:
        count = count + 1

In [51]:
tmpcontent[:10]

['F107：＊＊＊の町というのはちいちゃくって、城壁がこう町全体をぐるっと回ってて、それが城壁の上を歩いても１時間ぐらいですよね。', 'F023：１時間かからないぐらいだね。４、５０分で。', 'F107：そうそう。ほいでさあ、ずっと歩いていたんだけど、そうすと上から、なんか町の中が見れるじゃん。あるよね。ほいでさあ、なんか途中でワンちゃんに会ったんだね。（ふーん）散歩をしてるワンちゃんに会ったんだ。', 'F023：城壁の上をやっぱ観光客なんだけどワンちゃん連れてきてる人たち結構多くて。', 'F107：で、こう、そのワンちゃんと２人を、なに、お父さんとお母さんと歩いて、ワンちゃんに会ったんだ。途中で。あワンちゃーんとか言ってなでて、ほいで、この人たちはこっち行って、あたしらこっち行ったじゃん。ずうーとこうやって回ってきてるの。また会っちゃって。ここで。そうしたら。', 'F128：おー、そら地球はやっぱり丸かったみたいだね。\u3000', 'F107：そうしたらそのワンちゃんがなんかか喜んじゃって、で、あたしの方に走ってきて、とびついてきちゃってさ。別にあたしさあ、別にさっきなでただけなのにさあ、なんかすごーいなつかれちゃってね。\u3000', 'F023：さっきね、別に、そんなになでてもいないんだよ。', 'F107：よしよしって言っただけなのに。', 'F023：あらワンちゃんだーとか言ってすれ違ったんだよ。普通に。それでその次のとき、向こうの方からはーっといってかけてくるじゃん。']

** Note: \u3000 is just a longer space used in Japanese text; its inclusion or exclusion won't have any impact on what I'm trying to do 
  
  
That seems to have worked!