## Term Project Progress Report #1 Notebook (Code)
- Lindsey Rojtas
- LING1340
- 2/25/2020

This progress report focuses on the gathering and cleaning of data for this project; this includes filtering unnecessary columns from a list of Katakana words as well as (???)

### Some Notes
The hardest part of this phase was the actual gathering of the data, especially since it's data from a language that isn't English. I wanted to do something having to do with Japanese since I think it's interesting (and hopefully, I'll have time to take some classes on it here at Pitt), but I also wanted to do something that involved having data that I could read. I'm not experienced with Kanji at all, but I can read Hiragana and Katakana. Katakana specifically interests me because it's the Japanese version of something like Italics, which makes loan words extremely easy to find.  
  
Due to the nature of this project, finding the data wasn't easy and took up most of the time I spent on this. As I was browsing, I came across some Anki flashcards that had basically what I needed, so I reached out to the [creator of them on Reddit](https://www.reddit.com/user/Alphyn), who told me [which corpus they used](https://pj.ninjal.ac.jp/corpus_center/bccwj/en/freq-list.html) (luckily, the lists on this site are free to use for academic purposes!) and even provided me with some files that were refined using that corpus data. 
  
I also am somewhat more aware of what I want to do, since I know that just using a list of words and their frequencies isn't enough, so what I want to do is use this list of Katakana words combined with some corpus with age group data to see how much Katakana word use has changed over time. 
  
On with the show!

### Importing and Reading

In [1]:
# importing all the fun stuff i might need; will add to this later
import numpy as np
import pandas as pd

In [2]:
%pprint

Pretty printing has been turned OFF

I had some trouble with converting this file from an Excel file to a CSV, but that's because I didn't realize I had to actually save it as a CSV rather than just renaming it. Good lesson to learn for the future.

In [3]:
wordlist = pd.read_csv('../privdata/only_katakana.csv') # reading in my big word list file... 80k entries!

In [4]:
wordlist.head()

,rank,lForm,lemma,pos,subLemma,wType,frequency,pmw,PB_rank,PB_frequency,...,LB_variable_pmw,OW_fixed_rank,OW_fixed_frequency,OW_fixed_pmw,OW_variable_rank,OW_variable_frequency,OW_variable_pmw,core_rank,core_frequency,core_pmw
0,142,パーセント,パーセント,名詞-普通名詞-助数詞可能,percent,外,63392,605.970096,194.0,11614.0,...,244.656011,21.0,6121.0,5876.767423,19.0,28267.0,5998.526417,90.0,1070.0,974.558557
1,286,トウキョウ,トウキョウ,名詞-固有名詞-地名-一般,NaN,固,29804,284.899242,388.0,6140.0,...,243.650053,334.0,427.0,409.962374,315.0,2023.0,429.299853,149.0,627.0,571.073098
2,305,アメリカ,アメリカ,名詞-固有名詞-地名-国,America,固,28243,269.977496,285.0,7913.0,...,362.040945,707.0,184.0,176.658259,554.0,1095.0,232.369421,533.0,206.0,187.625292
3,351,ページ,ページ,名詞-普通名詞-助数詞可能,page,外,24642,235.555198,232.0,9624.0,...,198.520679,1518.0,63.0,60.486252,2122.0,172.0,36.500037,696.0,163.0,148.460790
4,420,センター,センター,名詞-普通名詞-一般,center,外,20664,197.529121,1118.0,2301.0,...,55.431775,401.0,353.0,338.915030,409.0,1581.0,335.503246,404.0,253.0,230.433005

### Data Cleaning
What I did before anything else was rename some columns and create a `cleanwordlist` so that I only had the data I needed. 80 columns is a lot, and I don't really know what a lot of it means. Luckily, all I really need is the Katakana word, the translation, and the frequency count.

In [5]:
wordlist.rename(columns={'lemma':'katakana', 'subLemma':'translation'}, inplace=True)

In [6]:
cleanwordlist = wordlist[['katakana', 'translation', 'frequency']]

In [7]:
cleanwordlist.head(10)

  katakana translation  frequency
0    パーセント     percent      63392
1    トウキョウ         NaN      29804
2     アメリカ     America      28243
3      ページ        page      24642
4     センター      center      20664
5     サービス     service      16630
6     システム      system      16458
7     メートル       metre      15960
8      テレビ  television      15644
9      メール        mail      15589

We notice here that some translations are `NaN`. There are several of these in the dataframe, but the first one we see is トウキョウ (Tokyo, as in the city, which has no English equivalent). Let's explore some more of this `NaN` translation data to see if the other ones are similar.

In [11]:
isnan = cleanwordlist['translation'].isnull()

0    False
1     True
2    False
3    False
4    False
Name: translation, dtype: bool