## Term Project Progress Report #1 Notebook (Code)
- Lindsey Rojtas
- LING1340
- 2/25/2020

This progress report focuses on the gathering and cleaning of data for this project; this includes filtering unnecessary columns from a list of Katakana words as well as sorting age groups in conversation data.

### Some Notes
The hardest part of this phase was the actual gathering of the data, especially since it's data from a language that isn't English. I wanted to do something having to do with Japanese since I think it's interesting (and hopefully, I'll have time to take some classes on it here at Pitt), but I also wanted to do something that involved having data that I could read. I'm not experienced with Kanji at all, but I can read Hiragana and Katakana. Katakana specifically interests me because it's the Japanese version of something like Italics, which makes loan words relatively easy to find.  

On with the show!

### Importing and Reading (Word List)

In [1]:
# importing all the fun stuff i might need; will add to this later
import numpy as np
import pandas as pd

In [2]:
%pprint

Pretty printing has been turned OFF

I had some trouble with converting this file from an Excel file to a CSV, but that's because I didn't realize I had to actually save it as a CSV rather than just renaming it. Good lesson to learn for the future.

In [3]:
wordlist = pd.read_csv('../privdata/only_katakana.csv') # reading in my big word list file... 80k entries!

In [4]:
wordlist.head()

,rank,lForm,lemma,pos,subLemma,wType,frequency,pmw,PB_rank,PB_frequency,...,LB_variable_pmw,OW_fixed_rank,OW_fixed_frequency,OW_fixed_pmw,OW_variable_rank,OW_variable_frequency,OW_variable_pmw,core_rank,core_frequency,core_pmw
0,142,パーセント,パーセント,名詞-普通名詞-助数詞可能,percent,外,63392,605.970096,194.0,11614.0,...,244.656011,21.0,6121.0,5876.767423,19.0,28267.0,5998.526417,90.0,1070.0,974.558557
1,286,トウキョウ,トウキョウ,名詞-固有名詞-地名-一般,NaN,固,29804,284.899242,388.0,6140.0,...,243.650053,334.0,427.0,409.962374,315.0,2023.0,429.299853,149.0,627.0,571.073098
2,305,アメリカ,アメリカ,名詞-固有名詞-地名-国,America,固,28243,269.977496,285.0,7913.0,...,362.040945,707.0,184.0,176.658259,554.0,1095.0,232.369421,533.0,206.0,187.625292
3,351,ページ,ページ,名詞-普通名詞-助数詞可能,page,外,24642,235.555198,232.0,9624.0,...,198.520679,1518.0,63.0,60.486252,2122.0,172.0,36.500037,696.0,163.0,148.460790
4,420,センター,センター,名詞-普通名詞-一般,center,外,20664,197.529121,1118.0,2301.0,...,55.431775,401.0,353.0,338.915030,409.0,1581.0,335.503246,404.0,253.0,230.433005

In [35]:
wordlist.describe() # stats!

,rank,frequency,pmw,PB_rank,PB_frequency,PB_pmw,PM_rank,PM_frequency,PM_pmw,PN_rank,...,LB_variable_pmw,OW_fixed_rank,OW_fixed_frequency,OW_fixed_pmw,OW_variable_rank,OW_variable_frequency,OW_variable_pmw,core_rank,core_frequency,core_pmw
count,84251.000000,84251.000000,84251.000000,50613.000000,50613.000000,50613.000000,24318.000000,24318.000000,24318.000000,14900.000000,...,52380.000000,3291.000000,3291.000000,3291.000000,7028.000000,7028.000000,7028.000000,11172.000000,11172.000000,11172.000000
mean,96569.374215,61.648883,0.589307,65322.612451,27.371486,0.962074,31707.032939,18.169011,4.106387,20032.300872,...,0.892448,8300.864175,9.368885,8.995059,14504.842629,20.088788,4.263032,17160.913892,5.841568,5.320514
std,43838.040107,446.131664,4.264615,28576.195151,147.588499,5.187552,14808.067118,68.786971,15.546578,8077.661334,...,4.255047,2921.772221,110.032822,105.642428,5375.571082,348.209277,73.893323,6831.599040,18.307100,16.674150
min,142.000000,1.000000,0.009559,194.000000,1.000000,0.035149,129.000000,1.000000,0.226011,84.000000,...,0.034688,21.000000,1.000000,0.960099,19.000000,1.000000,0.212209,90.000000,1.000000,0.910802
25%,61086.000000,2.000000,0.019118,42722.000000,1.000000,0.035149,19529.000000,1.000000,0.226011,13724.000000,...,0.069376,6053.000000,1.000000,0.960099,10881.000000,1.000000,0.212209,12560.000000,1.000000,0.910802
50%,100044.000000,6.000000,0.057355,69614.000000,4.000000,0.140595,34673.000000,3.000000,0.678032,21631.000000,...,0.138753,8692.000000,2.000000,1.920199,16048.000000,2.000000,0.424419,17861.000000,2.000000,1.821605
75%,134146.000000,23.000000,0.219859,98748.000000,14.000000,0.492083,48409.000000,10.000000,2.260105,27838.000000,...,0.520323,10918.000000,5.000000,4.800496,19542.000000,6.000000,1.273257,23544.000000,4.000000,3.643210
max,152442.000000,63392.000000,605.970096,98748.000000,11614.000000,408.217653,48409.000000,2608.000000,589.435410,27838.000000,...,362.040945,10918.000000,6121.000000,5876.767423,19542.000000,28267.000000,5998.526417,23544.000000,1070.000000,974.558557

### Data Cleaning
What I did before anything else was rename some columns and create a `cleanwordlist` so that I only had the data I needed. 80 columns is a lot, and I don't really know what a lot of it means. Luckily, all I really need is the Katakana word, the translation, and the frequency count.

In [5]:
wordlist.rename(columns={'lemma':'katakana', 'subLemma':'translation'}, inplace=True)

In [6]:
cleanwordlist = wordlist[['katakana', 'translation', 'frequency']]

In [7]:
cleanwordlist.head(10)

  katakana translation  frequency
0    パーセント     percent      63392
1    トウキョウ         NaN      29804
2     アメリカ     America      28243
3      ページ        page      24642
4     センター      center      20664
5     サービス     service      16630
6     システム      system      16458
7     メートル       metre      15960
8      テレビ  television      15644
9      メール        mail      15589

We notice here that some translations are `NaN`. There are several of these in the dataframe, but the first one we see is トウキョウ (Tokyo, as in the city, which has no English equivalent). Let's explore some more of this `NaN` translation data to see if the other ones are similar.

In [8]:
isnan = cleanwordlist['translation'].isnull()

In [10]:
notranslation = cleanwordlist[isnan]
notranslation.head()

   katakana translation  frequency
1     トウキョウ         NaN      29804
11     オオサカ         NaN      11572
25  センチメートル         NaN       9060
30     キョウト         NaN       8495
38       エド         NaN       8100

These words read "Tokyo", "Oosaka", "Senchimeetoru" (centimeter), "Kyoto", and "Edo". Four of these five words are places in Japan. Centimeter isn't, but I know from looking at the list of words in the Excel spreadsheet that センチ "senchi" is generally used as the word for centimeter, so it makes sense that there's no translation for it. Just to be safe, let's take a random sample of non-translated words.

In [15]:
notranslation.sample(5)

      katakana translation  frequency
80595    ブロルセン         NaN          1
33429      モコト         NaN         10
76258      チイコ         NaN          1
28745    ナカイズミ         NaN         13
73122     コメカミ         NaN          1

These words all seem to be names, judging by their translation and frequencies. Even if these words have meaning, I plan on filtering out words with lower frequency counts just to get rid of these names regardless, so even if I left null translations in, it wouldn't really affect what I'm trying to do here. Let's filter out the NaNs!

In [18]:
cleanwordlist = cleanwordlist.dropna()

In [19]:
cleanwordlist.head()

  katakana translation  frequency
0    パーセント     percent      63392
2     アメリカ     America      28243
3      ページ        page      24642
4     センター      center      20664
5     サービス     service      16630

In [44]:
cleanwordlist.describe()

          frequency
count  30140.000000
mean     113.244924
std      690.539893
min        1.000000
25%        3.000000
50%        9.000000
75%       39.000000
max    63392.000000

Wow, just from getting rid of the null entries, we got rid of 50,000 words.   
  
Anyway, as I mentioned before, I'm going to drop any words that have an incredibly low frequency. There's no point in trying to recognize a word if there's a pretty good chance it won't be in there. The hard part here will be trying to figure out what the cutoff should be. Let's check some value counts.

In [33]:
cleanwordlist['frequency'].value_counts()

1       4484
2       2944
3       1937
4       1492
5       1286
        ...
1285       1
1269       1
3284       1
5319       1
2047       1
Name: frequency, Length: 1394, dtype: int64

Looks like there's a lot of words that are only used a single-digit amount of times. I don't want to drop too many words, but I also don't want to make this harder than it has to be. We did see above that the majority of the words were used less than 23 times, but we don't want to include anything that's too irrelevant. Let's go with dropping anything less than a frequency of 75.

In [41]:
finalwordlist = cleanwordlist.loc[cleanwordlist['frequency'] >= 75]

In [42]:
finalwordlist.head()

  katakana translation  frequency
0    パーセント     percent      63392
2     アメリカ     America      28243
3      ページ        page      24642
4     センター      center      20664
5     サービス     service      16630

In [43]:
finalwordlist.describe()

          frequency
count   5192.000000
mean     595.130008
std     1576.927800
min       75.000000
25%      115.000000
50%      202.000000
75%      475.000000
max    63392.000000

We filtered out a lot of data... we went from around 80,000 entries to around 5,000. This makes sense, considering the overwhelming amount of nulls and rarely-used words there were. If I find that I have to go back and make this more inclusive, I will.